{% extends "layouts.html.twig" %}

{% block title %}Admin Commentaires{% endblock %}
{% block contents %}
<h3 class="text-white">Gestion des commentaires :</h3>
{% set tbComments = comments %}
    {% for statut in comments|keys %}
        {% set var = ['collapse',statut]|join %}
        <div id="accordion" class="bg-transparent">
            <div class="card text-center bg-transparent">
                <div class="card-header bg-primary" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#{{var}}" 
                    aria-expanded="true" aria-controls="collapseOne">
                        {% if statut == 0 %}
                            <h5 class="text-white">Commentaires à valider</h5>
                        {% elseif statut == 1 %}
                            <h5 class="text-white">Commentaires validés</h5>
                        {% else %}
                            <h5 class="text-white">Commentaires suspendus</h5>
                        {% endif %}
                    </button>
                </h5>
                </div>
                <div id="{{var}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="table-responsive-md">
                            <table class="table">
                                <thead class="text-primary bg-dark">
                                    <tr>
                                        <th scope="col">Post</th>
                                        <th scope="col">Commentaires</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Auteur</th>
                                        <th scope="col">Statut</th>
                                    </tr>
                                </thead>
                                <tbody class="text-white">
                                    {% for item in tbComments[statut] %}
                                        <tr>
                                            <th scope="row"><a href="../public/index.php?route=post&postId={{item.postId}}">{{item.postId}}</a></th>
                                            <td>{{item.description}}</td>
                                            <td>{{item.createdAtComments}}</td>
                                            <td>{{item.user}}</td>
                                            <td>{% if item.statut ==1 %}<!-- Checked comment's statut-->
                                                    <a href="../public/index.php?route=StatutComment&commentId={{item.id}}&Statut=0" 
                                                    type="button" class=" btn btn-success">Devalider</a>
                                                {% else %}
                                                    <a href="../public/index.php?route=StatutComment&commentId={{item.id}}&Statut=1" 
                                                    type="button" class=" btn btn-outline-warning">Valider</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
