{% if post %}
    {% set path = ['../public/index.php?route=editPost&postId=',post.Id]|join %}
    {% set btn = 'Modifier' %}
{% else %}
    {% set path = '../public/index.php?route=addPost' %}
{% endif %}
<form method="post" action="{{path}}">
    <label for="title">Titre</label><br>
    <input type="text" id="title" name="title" value="{{post.title}}"><br>
    <label for="description">Contenu</label><br>
    <textarea id="description" name="description">{{post.description}}</textarea><br>
    <label for="author">Auteur</label><br>
    <input type="text" id="author" name="author" value="{{post.author}}"><br>
    <input type="submit" value="{{btn}}" id="submit" name="submit">
</form>