{% extends 'layout.html.twig' %}

{% block title %}{{post.title}}{% endblock %}
{% block stylesheet %}{% endblock %}
{% block body %}
{# <pre>{{dump(form)}}</pre> #}
<div class="text-primary">
    <h2 class="text-center">{{post.title}}</h2>
    <h4>{{post.chapo}}</h4>
    <p>{{post.description}}</p>
    <p class="text-right">{{post.user}} Créé le : {{post.createdAt}}</p>
</div>
<br>
<div id="comments" class="text-white" style="margin-left: 50px">
    <h3>Commentaires</h3>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalComment">
        Nouveau commentaire
    </button>
    <!-- Modal -->
    <div class="modal fade" id="ModalComment" tabindex="-1" role="dialog" aria-labelledby="ModalCommentLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header  bg-secondary">
                    <h5 class="modal-title text-primary" id="ModalCommentLabel">Commentaire de l'article : " {{post.title}} "</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-dark">
                    {% include 'form_AddComment.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    {% for comment in comments %}
        <h4>{{comment.user}}</h4>
        <p>{{comment.description}}</p>
        Posté le {{comment.createdAtComments}}
        {{comment.id}}
        <a href="../Public/index.php?route=deleteComment&commentId={{comment.id}}" class="btn btn-danger" style="border-radius:40px">Supprimer</a>
    {%  endfor %}
</div>
{% endblock %}