{% extends 'layout.html.twig' %}

{% block title %}{{post.title}}{% endblock %}
{% block stylesheet %}{% endblock %}
{% block body %}
<div class="card m-2 bg-transparent border-primary radius-2">
    <div class="card-header text-primary bg-dark border-white">
        <h2 class="text-center">{{post.title}}</h2>
    </div>
    <div class="card-title text-white bg-secondary m-0">
        <h4>{{post.chapo}}</h4>
    </div>
    <div class="card-body text-white bg-secondary m-0 p-0">
        <p>{{post.description}}</p>
        <p class="text-right m-0">{{post.user}} Créé le : {{post.createdAt}}</p>
    </div>
    <divclass="card-footer text-white m-2 bg-transparent" id="comments" >
        <h3>Commentaires</h3>
        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#ModalComment">
            Nouveau commentaire
        </button>
        <!-- Modal -->
        <div class="modal fade" id="ModalComment" tabindex="-1" role="dialog" aria-labelledby="ModalCommentLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header  bg-secondary">
                        <h5 class="modal-title text-primary" id="ModalCommentLabel">Commentaire de l'article : " {{post.title}} "</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-dark">
                        {% include 'form_AddComment.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
        <ul class="list-group list-group-flush text-secondary">
            {% for comment in comments %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4"><h4>{{comment.user}}</h4></div>
                        <div class="col-8"><p>{{comment.description}}</p></div>
                        <div class="col-12"><small class="text-muted text-float text-right">
                        Posté le {{comment.createdAtComments}}</small>
                        {% if app.get('username') == comment.user %}
                            <a href="../Public/index.php?route=deleteComment&commentId={{comment.id}}" 
                        class="btn btn-danger float-right" style="border-radius:40px">Supprimer</a></div>
                        {% else %}
                            
                        {% endif %}
                        
                    </div>    
                </li>
            {%  endfor %}
        </ul>
    </div>
</div>
{% endblock %}