{% if comment %}
    {% set path = ['/PyrTeck/Blog/post/editComment/',comment.Id,'/',comment.postId]|join %}
    {% set btn = 'Modifier' %}
    {% set cls = 'btn btn-danger' %}
    {% set textDescription = ['description',comment.id]|join %}
    {% set inputSpeudo = ['pseudo',comment.id]|join %}
    {% set btnsubmit = ['submit',comment.id]|join %}
{% else %}
    {% set path = ['/PyrTeck/Blog/post/addComment/',post.id]|join %}
    {% set btn = 'Enregistrer' %}
    {% set cls = 'btn btn-primary' %}
    {% set btn = 'Enregistrer' %}
    {% set textDescription = 'description' %}
    {% set inputSpeudo = 'pseudo' %}
    {% set btnsubmit = 'submit' %}
{% endif %}
<form class="was-validated" method="post" action="{{path}}">
    <div class="mb-3">
        <label for="description">Contenu</label>
        <textarea class="form-control" id="description" name="description" placeholder="Ecrire votre commentaire içi" required>{{comment.description}}</textarea>
        <div class="invalid-feedback">
            Vous devez écrire quelques mots.
        </div>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control is-invalid" id="pseudo" name="pseudo"
         placeholder="Votre nom" hidden value={{app.get('id')}} required>
    </div>
    <input class="{{cls}}" type="submit" value="{{btn}}" id="submit" name="submit">
</form>

