{% extends 'layouts.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block contents %}
    <h2 class="text-center text-primary">Articles de la catégorie : {{categoryName}}</h2>
    <div class="row w-100 m-0">
        <aside class="col-md-2">
            <div class="mt-5 h-100" id=""><!-- List menu at Left -->
                <div class="list-group position-fixed flex-md-column flex-row justify-content-between" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active list-group-item-dark" id="list-home-list" href="/PyrTeck/Blog"
                     role="tab" aria-controls="home">Toutes Catégories : <span class="badge badge-primary badge-pill">{{commentsCount}}</span></a>
                    {% for category in categories %}
                        <a class="list-group-item list-group-item-action list-group-item-dark" id="list-home-list" href="/PyrTeck/Blog/{{category.id}}"
                         role="tab" aria-controls="home">{{category.name}} <span class="badge badge-primary badge-pill float-right">{{nbposts[category.id]}}</span></a>
                    {% endfor %}
                </div>
            </div><!-- End of list menu -->
        </aside>
        <div class="col-10">
                {% for post in posts %}
                    {% if nbcomments[post.id] is null %}  
                        {% set postid = 0 %}
                    {% else %}
                        {% set postid = nbcomments[post.id] %}
                    {% endif %}
                    <div class="card text-primary bg-secondary m-2">
                        <div class="row no-gutters">
                            <div class="col-auto">
                                {% if post.imageune is null %}
                                    <img src="" style="max-width:250px;max-height:250px;" class="img-fluid" alt="">
                                {% else %}
                                    <img src="/PyrTeck/public/Images/{{post.imageune}}" style="max-width:250px;max-height:250px;" class="img-fluid" alt="">
                                {% endif %}
                            </div>
                            <div class="col">
                                <div class="card-block">
                                    <div class="card-header text-primary bg-dark text-center p-0">
                                        <h3> {{post.title}} </h3>
                                    </div>
                                    <h4 class="card-title">{{post.chapo}}</h4>
                                    <p class="card-text">{{[post.description| slice(0,200),' ...']|join}}</p>
                                    <a href="/PyrTeck/Blog/post/{{post.id}}" class="btn btn-primary
                                     float-right">En savoir plus <span class="badge badge-light">{{postid}}</span>
                                     <span class="sr-only">unread messages</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-white bg-secondary">
                            Créé le : {{post.createdAt}} par {{post.user}}
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}