{% extends "layouts.html.twig" %}


{% block title %}Commentaires de {{app.get('username')}}{% endblock %}
{% block contents %}
<h3 class="text-primary">Liste de vos commentaires :</h3>
{% set tbComments = commentsUser %}
    {% for statut in commentsUser|keys %}
        {# {% set i = i + 1 %} #}
        {% set var = ['collapse',loop.index]|join %}
        <div id="accordion" class="bg-transparent">
            <div class="card text-center  bg-transparent">
                <div class="card-header bg-primary" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#{{var}}" 
                    aria-expanded="true" aria-controls="collapseOne">
                        <h5 class="text-white">{{statut}}</h5>
                    </button>
                </h5>
                </div>
                <div id="{{var}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="table-responsive-md">
                            <table class="table">
                                <thead class="text-primary bg-dark">
                                    <tr>
                                        <th scope="col">Post</th>
                                        <th scope="col">Commentaires</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Statut</th>
                                    </tr>
                                </thead>
                                <tbody class="text-white">
                                    {% for item in tbComments[statut] %}
                                        <tr>
                                            <th scope="row"><a href="/PyrTeck/Blog/post/{{item.postId}}">{{item.postId}}</a></th>
                                            <td>{{item.description}}</td>
                                            <td>{{item.createdAtComments}}</td>
                                            <td>{% if item.statut ==1 %}<!-- Checked comment's statut-->
                                                    <span class="fas fa-flag-checkered"></span>
                                                {% elseif item.statut ==2 %}
                                                    <span class="fas fa-skull-crossbones"></span>
                                                {% else %}
                                                    <span class="fas fa-sync"></span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
