{% extends 'layouts.html.twig' %}

{% block title %} Administration des articles {% endblock %}
{% block contents %}
    <h3 class="text-white">Gestion des articles du blog :</h3>
        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#ModalPost">
            Nouvel article
        </button>
        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#ModalCate">
            Nouvelle catégorie
        </button>
        <!-- Modal Post-->
        <div class="modal fade" id="ModalPost" tabindex="-1" role="dialog" aria-labelledby="ModalPostLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header  bg-secondary">
                        <h5 class="modal-title text-primary" id="ModalPostLabel">Création Nouvel article :</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-dark">
                        {% include './forms/form_AddPost.html.twig' with categories %}
                    </div>
                </div>
            </div>
        </div><!-- End Modal Post -->
        <!-- Modal Category -->
        <div class="modal fade" id="ModalCate" tabindex="-1" role="dialog" aria-labelledby="ModalCateLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header  bg-secondary">
                        <h5 class="modal-title text-primary" id="ModalCateLabel">Création Nouvelle Categorie :</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-dark">
                        {% set vars = {'btn': 'Enregistrer'} %}
                        {% include './forms/form_AddCategory.html.twig' with vars %}
                    </div>
                </div>
            </div>
        </div><!-- End Modal Category -->
        <!-- Post's Table -->
        <div class="table-responsive-md">
            <table class="table">
                  <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Description</th>
                        <th scope="col">Chapo</th>
                        <th scope="col">Catégorie</th>
                        <th scope="col">Date de création</th>
                        <th scope="col">Date modification</th>
                        <th scope="col">Auteur</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody class="text-white">
                    {% for post in posts %}
                        <tr>
                            <th scope="row">{{post.id}}</th>
                            <td>{{post.title}}</td>
                            <td>{{post.description}}</td>
                            <td>{{post.chapo}}</td>
                            <td>{{post.category}}</td>
                            <td>{{post.createdAt}}</td>
                            <td>{{post.derniereMaJ}}</td>
                            <td>{{post.user}}</td>
                            <td><a href="/PyrTeck/Admin/editPost/{{post.id}}" class="btn btn-primary" style="border-radius:40px">Modifier</a>
                            <a href="/PyrTeck/Admin/deletePost/{{post.id}}" class="btn btn-danger" style="border-radius:40px">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- End Post's Table -->
{% endblock %}